<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="..\static\css\Login.css">
    <style>
        .d2{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    color: red;
    align-items: center;
    justify-content: center;
}

    </style>
    
</head>

<body>
    <div class="headings">
        <h1>QVY Insurance online</h1>
        
        <div>
            <img class="i1" src="..\static\admin.svg" alt="Admin Loading...">
        </div>
        <div class="d2">
            {% if message %}
                <p class="p2">{{ message }}</p>
            {% endif %}</div>
    </div>
    <form id="LoginForm"  action="{{ url_for('login_ValidationAdmin') }}" onsubmit="return validateLoginForm()" name="loginForm" method="POST">
        <div class="formdesign">
            <div class="d11"><h2>Admin Login</h2></div>
            <label for="username">Username<span class="required-dot">*</span></label>
            <div class="input-div">
                <input type="text" placeholder = "Customer ID" id="username" name="username">
                <p id="usernameError" class="error"></p>
            </div>
        </div>


        <div class="formdesign">
            <label for="password">Password<span class="required-dot">*</span></label>
            <div class="input-div">
                <input type="password" placeholder="password" id="password" name="password" >
                <p id="passwordError" class="error"></p>
            </div>
        </div>
        <div class="button-div">
            <input class="button" type="submit" value="Login">
        </div>
        
        
    </form>
    <div class="div1"> 
        <p class="p1">Are you a Customer? </p>
        <a href="Login"><button class="cpb" >Sign In</button></a>
    </div>
 
    <script src="..\static\js\Login.js"></script>
</body>

</html>