<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Policy</title>
    <link rel="stylesheet" href="../static/css/ViewPolicy.css">
</head>
 
<body>
 
    <header>
        <h1>QVY Insurance Online</h1>
        <h2>Delete Policies</h2>
    </header>
<hr>
    <div class="div1">
    <form action="delete_policy" method="POST" class="c1">
        <label for="policyid">Enter Policy ID:</label>
        <input type="text" id="policyid" name="policyid" required>
        <button type="submit">Delete</button>
    </form>
    <a class="b1" href="home"><button class="cpb" >Back to Home</button></a>
    </div> 
    
    <div class="policies">
        <h3>Your Policies</h3>
    </div>
    <div class="d2">
        {% if message %}
            <p class="p1">{{ message }}</p>
        {% endif %}</div>

    <table id="policy-table" border="1">
        <thead>
            <tr>
                <th>Policy No</th>
                <th>Commence Date</th>
                <th>Status</th>
                <th>Type</th>
                <th>Policy Title</th>
                <th>Premium Amount</th>
                <th>Next Due Date</th>
                <th>Sum Assured</th>
                <th>Nominee Name</th>
            </tr>
        </thead>
        <tbody id="table-body">
            <!-- Rows will be dynamically inserted here -->
        </tbody>
    </table>


 
    <div id="pagination-buttons">
        <button class="class1"  onclick="previousPage()">Previous</button>
        <button  class="class2" onclick="nextPage()">Next</button>
    </div>
   
 
    <script>
        var rows = {% if rows %}{{ rows | tojson }}{% else %}[]{% endif %};
        var currentPage = 1;
        var rowsPerPage = 5;
 
        function displayRows() {
            var start = (currentPage - 1) * rowsPerPage;
            var end = start + rowsPerPage;
            var tableBody = document.getElementById('table-body');
            tableBody.innerHTML = "";
 
            for (var i = start; i < end && i < rows.length; i++) {
                var row = rows[i];
                var newRow = tableBody.insertRow();
                for (var j = 0; j < row.length; j++) {
                    // Skip Consumer ID and Policy Term columns
                    if (j !== 1 && j !== 9) {
                        var cell = newRow.insertCell();
                        cell.innerHTML = row[j];
                    }
                }
            }
        }
 
        function previousPage() {
            if (currentPage > 1) {
                currentPage--;
                displayRows();
            }
        }
 
        function nextPage() {
            var totalPages = Math.ceil(rows.length / rowsPerPage);
            if (currentPage < totalPages) {
                currentPage++;
                displayRows();
            }
        }
 
        displayRows();
    </script>
 
</body>
 
</html>